* {
    box-sizing: border-box;
}
body{
    background-color: grey;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row:after{
    content:"";
    clear: both;
    display: block;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    /* margin-bottom: 3%; */
}
.rimg{
    width: 100%;
    height: auto;
}
.textbody{
    text-align: justify;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li{
    color: #ffffff;
    padding: 8px;
    margin-bottom: 7px;
    background: #49b9cf;
    box-shadow: #2f4d54;
}
.menu li:hover{
    background: #2a40bb;
}
.footer{
    text-align: center;
    color: #ffffff;
    background: rgb(84, 16, 148);
    clear: both;
    font-size: 12px;
    padding: 15px;
}
.aside{
    background: #49b9cf;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
    0 1px 2px rgba(0,0,0,0.24);
}

    /*for mobile phones*/
    [class*="col-"] {
        width: 100%;
    }
@media only screen and (min-width= 600px) {

    /*for tablet*/
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.6%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width:33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

@media only screen and (min-width= 768px) {

    /*for desktop*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.6%;}
    .col-3 {width: 25%;}
    .col-4 {width:33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}

